@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 246, 246, 246;
  --background-end-rgb: 246, 200, 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 246, 246, 246;
    --background-start-rgb: 246, 246, 246;
    --background-end-rgb: 246, 246, 246;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mobile-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.message-box-container {
  position: absolute;
  top: -50px;
  left: -150px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.0);
}

.banner-phone {
  margin-top: 45px;
}

.review {
  padding: 0.5rem 1rem;
  position: relative;
  background-color: #F7F7F7;
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 1.75rem;
}

.review::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  background-image: linear-gradient(90deg,
      #F8971F,
      #FC6889);
  border-radius: 1.75rem;
}

.review-image-container {
  position: absolute;
  bottom: 312px;
  right: 132px;
  max-width: 210px;
}


@media only screen and (max-width: 1000px) {

  .message-box-container {
    display: none;
  }

  .banner-phone {
    margin-top: 0px;
  }

  .mobile-image-container {
    height: 100%;
  }

  .mobile-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}